# Can ignore specific files
.DS_Store

# Use wildcards as well
*~
*.swp
*test.*
*.tmproj

# Can also ignore all directories and files in a directory.
tmp/**/* 

config.php
functions.php
css/test.css

